:root {
    --light-button-primary-background-color: var(--brand-color-secondary);
    --light-button-primary-text-color: white;

    --light-button-secondary-background-color: white;
    --light-button-secondary-text-color: var(--brand-color-secondary);

    --light-button-tertiary-background-color: transparent;
    --light-button-tertiary-text-color: var(--brand-color-secondary);

    --light-button-ghost-background-color: transparent;
    --light-button-ghost-text-color: var(--brand-color-secondary);

    --light-button-shadow-color : rgba(0,0, 0, 0.2);
}

:root {
    --light-button-info-text-color: var(--light-color-info-contrast);
    --light-button-info-background-color: var(--light-color-info);

    --light-button-success-text-color: var(--light-color-success-contrast);
    --light-button-success-background-color: var(--light-color-success);

    --light-button-warning-text-color: var(--light-color-warning-contrast);
    --light-button-warning-background-color: var(--light-color-warning);

    --light-button-danger-text-color: var(--light-color-danger-contrast);
    --light-button-danger-background-color: var(--light-color-danger);

    --light-button-disabled-text-color: var(--light-color-disabled-contrast);
    --light-button-disabled-background-color: var(--light-color-disabled);
}
