:root {
    --light-toggle-slider-background-color: lightgray;
    --light-toggle-slider-text-color: lightgray;

    --light-toggle-slider-on-background-color: green;
    --light-toggle-slider-on-text-color: white;

    --light-toggle-slider-off-background-color: red;
    --light-toggle-slider-off-text-color: white;

    --toggle-select-disabled-background-color: gray;
    --toggle-select-disabled-text-color: white;

    --toggle-select-left-text-color : lime;
    --toggle-select-left-background-color: red;

    --toggle-select-right-text-color : purple;
    --toggle-select-right-background-color: orange;
}
