:root {
    --light-input-label-color: black;
    --light-input-background-color: #e6e6e6;
    --light-input-text-color: black;
    --light-input-focus-background-color: white;
    --light-input-focus-text-color: var(--light-input-text-color);
    --light-input-border-color: black;

    --light-input-disabled-backgound-color: transparent;
    --light-input-disabled-text-color: var(--text-muted);

    --light-input-append-background-color:#a6a6a6;
    --light-input-append-text-color:white;

}
