@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Handlee&display=swap);

:root {
    /* MENU SIZES */
    --menu-wide-width: 230px;
    --menu-wide-width--number: 230;

    --menu-stacked-width: 150px;
    --menu-stacked-width--number: 150;

    --menu-icon-only-width: 80px;
    --menu-icon-only-width--number: 80;

    --menu-top-height: 5rem;
}

:root {
    --menu-button-font: var(--font-sans);
    --menu-badge-font: var(--font-sans);
    --menu-badge-font-size: 0.6rem;
    --menu-heading-font: var(--font-sans);

    --menu-root-ident: 1rem;
    --menu-level1-ident: 1.2rem;
    --menu-level2-ident: 1rem;
}

:root { /* FONTS & SIZES */
    /* MENU TOP*/
    --menu-top-font: var(--menu-button-font);
    --menu-top-font-size: 0.7rem;
    --menu-top-font-size-expanded: 1rem;

    --menu-top-brand-font : var(--brand-font);
    --menu-top-brand-font-size: 1.5rem;

    --menu-top-username-font-size: 0.8rem;
    --menu-top-usertagline-font-size: 0.6rem;

    /* MENU LEFT */
    --menu-left-user-name-font-size: 1rem;
    --menu-left-user-tagline-font-size: 0.8rem;


    --menu-left-font: var(--menu-button-font);
    --menu-left-level0-font-size: 1.3rem;
    --menu-left-level1-font-size: 0.8rem;
    --menu-left-level2-font-size: 0.6rem;
    --menu-left-level3-font-size: 0.6rem;

    --menu-footer-font-size: 0.6rem;

    --menu-heading-level1-font-size: 0.8rem;
    --menu-heading-level2-font-size: 1rem;
    --menu-heading-level3-font-size: 1rem;

    /* MENU PULL */
    --menu-pull-heading-font-size: 2rem;
    --menu-pull-font: var(--menu-button-font);

    /* SCREEN FOOTER */
    --screen-footer-font: var(--menu-button-font);
    --screen-footer-font-size: 1.5rem;

    --menu-left-transition: all 0.3s ease;

    --workspace-footer-height: 30px;
    --workspace-footer-font-size: 0.6rem;

}

.menu-icon-only {
    --menu-width--px : var(--menu-icon-only-width);
    --menu-width--number : var(--menu-icon-only-width--number);
}
.menu-wide {
    --menu-width--px : var(--menu-wide-width);
    --menu-width--number : var(--menu-wide-width--number);
}
.menu-stacked {
    --menu-width--px : var(--menu-stacked-width);
    --menu-width--number : var(--menu-stacked-width--number);
}

@import "./dark/__main_dark.scss";
@import "./light/__main_light.scss";

