
@import "./_alert.scss";
@import "./_breadcrumb.scss";
@import "./_button.scss";
@import "./_card.scss";
/*@import "_chip.scss";*/


/*@import "_checkbox.scss";  ?? chip ?*/
@import "./_checkbox_normal.scss";
/* @import "_draggable.scss"; */
@import "./_dropdown.scss";
@import "./_ghost_section.scss";
@import "./_form.scss";
@import "./_tag_chip.scss";
@import "./_tag_label.scss";
@import "./_tag_icon.scss";
@import "./_icon.scss";
@import "./_list.scss";
@import './_input.scss';
@import './_input_code.scss';
@import "./_modal_info.scss";
@import "./_checkable.scss";
/*@import "_pages.scss";*/
@import "./_table.scss";
@import "./_toast.scss";
@import "./_toggle_select.scss";
@import "./_toggle_slider.scss";
@import "./_typography.scss";
@import "./_banner.scss";
@import "./_phoneinput.scss";


.y-content {
    background-color: var(--light-background-color);

    .is-off, .is-on {
        line-height:0;
    }
}

.dark .y-content {
    background-color: var(--dark-background-color);
}

.y-content {
    /*width: 100vw;*/
    background-color: white;
    padding: 15px;
    /*height: 100vh;*/
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-spacing: 0;
}

.flex {
    display: flex;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
    display : none;
}

body {
    color: var(--light-color-text);
    background-color: var(--light-color-background);


}

/* ========== DARK THEME ========== */
body.dark {
    color: var(--dark-color-text);
    background-color: var(--dark-color-background);
}
