
.hint {
    color:grey;
    font-size:xx-small;
}


.is-info--unchecked{
    color: dodgerblue;
    background-color: #FFFFFF;
    border-color: dodgerblue;
}

.is-info--checked{
    color: #FFFFFF;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.is-success--unchecked{
    color: green;
    background-color: #FFFFFF;
    border-color: green;
}

.is-success--checked{
    color: #FFFFFF;
    background-color: green;
    border-color: green;
}

.is-warning--unchecked{
    color: orange;
    background-color: #FFFFFF;
    border-color: orange;
}

.is-warning--checked{
    color: #FFFFFF;
    background-color: orange;
    border-color: orange;
}

.is-danger--unchecked{
    color: #EF2D56;
    background-color: #FFFFFF;
    border-color: #EF2D56;
}

.is-danger--checked{
    color: #FFFFFF;
    background-color: #EF2D56;
    border-color: #EF2D56;
}

.chip--unchecked {
    color: orange;
    background-color: #FFFFFF;
    border-color: orange;
}

.chip--checked {
    color: #FFFFFF;
    background-color: orange;
    border-color: orange;
}

.chip {
    /*font-family: 'Heebo', sans-serif;*/
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-style: solid;
    border-width: 0.125rem;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -box-shadow: none;
}

/* The Modal (background) */
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    left:auto;
    top:auto;
    max-width:600px;
    max-height:300px;
}

.modal-header {
    padding: 15px;
    display: flex;
    font-size:1rem;
}

.modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
    overflow:hidden;
    border-radius:0;
}

.modal-body {
    position: relative;
    padding: 20px 10px;
}
