.y-modal-info {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    z-index:99;

    background: rgba(0,0,0, .5);

    transition: opacity 0.7s ease;

    .modal__close {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        width: 100vw;
        text-align: right;
        padding-right:10px;
        padding-top:10px;

        color:white;
    }

    .modal__inner {
        opacity:0;
        transition: opacity 0.55s ease;
        width: 50%;
        margin: 5% auto;
        background: var(--light-modal-content-background-color);
        border-radius: 5px;
        color: black;
        height: auto;

        &.is-small {
            width:25%;
        }

        &.is-large {
            width:75%;
        }

        .title {
            display: flex;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: var(--modal-header-font-size);
            align-items: center;
            padding: 10px;
            gap: 10px;
        }

        .body {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            color: var(--light-modal-content-text-color);
            flex: 1 1 0;
            font-size:  var(--modal-content-font-size);
        }

        .button-row {
            display: flex;
            margin-top: 1.5rem;
            flex-direction: column;
            justify-content: flex-end;
            gap: 0.75rem;
            border-top:1px;
            border-style: solid;
            padding: 10px;

            @media (min-width: 640px) {
                flex-direction: row;
            }
        }
    }

    .modal__side {
        opacity:0;
        transition: opacity 0.55s ease;
        position:absolute;

        width: 30%;
        right:0;
        background: var(--light-modal-content-background-color);
        height: 100vh;

        .title {
            display: flex;
            border-radius:0;
            font-size: var(--modal-header-font-size);
            align-items: center;
            padding: 10px;
            gap: 10px;
        }

        .body {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            color: var(--light-modal-content-text-color);
            flex: 1 1 0;
            font-size:  var(--modal-content-font-size);
        }
    }
}

/*show hide on javascript */
.y-modal-info {
    &.is-shown {
        opacity: 1;
        visibility: visible;

        .modal__inner, .modal__side {
            opacity: 1;
            visibility: visible;
        }
    }
}

/*show hide on css */
.y-modal-info-state {
    display: none;

    &:checked {
        + .y-modal-info {
            opacity: 1;
            visibility: visible;
            .modal__inner, .modal__side {opacity: 1;}
        }
    }
}

@media screen and (max-width: 768px) {
    .y-modal-info {
        .modal__inner, .modal__inner.is-small {
            width: 90% !important;
        }
    }
}

.y-modal-info {
    .title {
        background-color: var(--light-modal-background-color);
        color: var(--light-modal-text-color);
    }

    .button-row {
        border-top-color: var(--light-modal-background-color) !important;
    }

    &.is-info {
        .title {
            background-color: var(--light-modal-info-background-color);
            color: var(--light-modal-info-text-color);
        }

        .button-row {
            border-top-color: var(--light-modal-info-background-color) !important;

            .y-btn.click-passthrough {
                pointer-events:none;        /* this is a dummy button, so passthrough click to parent*/

            }
        }
    }

    &.is-success {
        .title {
            background-color: var(--light-modal-success-background-color);
            color: var(--light-modal-success-text-color);
        }

        .button-row {
            border:0;
            border-top:1px;
            border-style:solid;
            border-top-color: var(--light-modal-success-background-color) !important;
        }
    }

    &.is-warning {
        .title {
            background-color: var(--light-modal-warning-background-color);
            color: var(--light-modal-warning-text-color);
        }

        .button-row {
            border-top-color: var(--light-modal-warning-background-color) !important;
        }
    }

    &.is-danger {
        .title {
            background-color: var(--light-modal-danger-background-color);
            color: var(--light-modal-danger-text-color);
        }

        .button-row {
            border-top-color: var(--light-modal-danger-background-color) !important;
        }
    }
}
