.y-content {

    .y-tag-icon
    {
        border-width:0;
        border-color:navy;
        border-style:solid;
    }

    .y-tag-icon {
        &.is-info-open {
                color:var(--light-color-info);
        }

        &.is-info-solid {
            color:var(--light-color-info);
        }

        &.is-success-open {
            color:var(--light-color-success);
        }

        &.is-success-solid {
            color:var(--light-color-success);
        }

        &.is-warning-open {
           color:var(--light-color-warning);
        }

        &.is-warning-solid {
            color:var(--light-color-warning);
        }

        &.is-danger-open {
            color:var(--light-color-danger);
        }

        &.is-danger-solid {
            color:var(--light-color-danger);
        }
    }
}
