@use "../vendor/icons/fa/css/all.css";
@import '_variables.scss';

.field {
    .p-input-icon-left, .p-input-icon-right {
        .y-icon {
            top: 35%;
        }
    }
}

.y-icon {

    &.icon::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--icon-font);
    }

    &.solid:before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--icon-font-solid);
    }

    .clickable {
        color: var(--light-link-text-color);
        cursor:pointer;
    }

    &.icon:hover {
        /*color:lime;*/
    }

    &.icon-normal {
        font-size:1rem;
    }

    &.icon-extra-small::before {
        font-size:0.4rem;
        vertical-align: super;
    }

    &.icon-small::before {
        font-size:0.6rem;
        vertical-align: middle;
    }

    &.icon-large::before {
        font-size:1.3rem;
    }

    &.icon-extra-large::before {
        font-size:2rem;
    }

    &.icon {
        &.is-info {
            color: var(--light-color-info);
        }

        &.is-success {
            color: var(--light-color-success);
        }

        &.is-warning {
            color: var(--light-color-warning);
        }

        &.is-danger {
            color: var(--light-color-danger);
        }
    }

    &.icon-add                   {@extend .fa-plus;}
    &.icon-administrators        {@extend .fa-people-roof;}
    &.icon-attach                {@extend .fa-paperclip;}
    &.icon-best-answer           {@extend .fa-trophy;}
    &.icon-bookmark              {@extend .fa-bookmark;}
    &.icon-breadcrumb-separator  {@extend .fa-angle-right;}
    &.icon-busy                  {@extend .fa-hourglass-clock;}
    &.icon-calendar              {@extend .fa-calendar-days;}
    &.icon-checked               {@extend .fa-check;}
    &.icon-checked-circle        {@extend .fa-circle-check;}
    &.icon-checked-double        {@extend .fa-check-double;}
    &.icon-clone                 {@extend .fa-copy;}
    &.icon-collapse              {@extend .fa-chevron-up;}
    &.icon-comment               {@extend .fa-comment-dots;}
    &.icon-comment-slash         {@extend .fa-comment-slash;}
    &.icon-comments              {@extend .fa-comments;}
    &.icon-completed             {@extend .fa-users;} /* todo ?? */
    &.icon-copy-clipboard        {@extend .fa-clipboard;}
    &.icon-danger                {@extend .fa-circle-radiation;}
    &.icon-darkmode              {@extend .fa-moon;}
    &.icon-dashboard             {@extend .fa-gauge;}
    &.icon-delete                {@extend .fa-trash-can;}
    &.icon-dislike               {@extend .fa-thumbs-down;}
    &.icon-download              {@extend .fa-cloud-arrow-down;}
    &.icon-dropdown              {@extend .fa-angle-down;}
    &.icon-edit                  {@extend .fa-pen;}
    &.icon-expand                {@extend .fa-chevron-down;}
    &.icon-export                {@extend .fa-file-export;}
    &.icon-link-external         {@extend .fa-arrow-up-right-from-square;}
    &.icon-file-audio            {@extend .fa-file-audio;}
    &.icon-file-check            {@extend .fa-file-check;}
    &.icon-file-document         {@extend .fa-file-word;}
    &.icon-file-download         {@extend .fa-file-arrow-down;}
    &.icon-file-image            {@extend .fa-file-image;}
    &.icon-file-info             {@extend .fa-file-circle-info;}
    &.icon-file-locked           {@extend .fa-file-lock;}
    &.icon-file-pdf              {@extend .fa-file-pdf;}
    &.icon-file-protected        {@extend .fa-file-shield;}
    &.icon-file-upload           {@extend .fa-file-arrow-up;}
    &.icon-file-video            {@extend .fa-file-video;}
    &.icon-files                 {@extend .fa-files;}
    &.icon-filter                {@extend .fa-filter;}
    &.icon-help                  {@extend .fa-circle-question;}
    &.icon-home                  {@extend .fa-house-blank;}
    &.icon-idea                  {@extend .fa-lightbulb-on;}
    &.icon-import                {@extend .fa-file-import;}
    &.icon-info                  {@extend .fa-circle-info;}
    &.icon-lightmode             {@extend .fa-sun;}
    &.icon-like                  {@extend .fa-thumbs-up;}
    &.icon-link                  {@extend .fa-link;}
    &.icon-loading               {@extend .fa-circle-notch;}
    &.icon-locked                {@extend .fa-lock;}
    &.icon-login                 {@extend .fa-arrow-right-to-bracket;}
    &.icon-logout                {@extend .fa-arrow-right-from-bracket;}
    &.icon-love                  {@extend .fa-heart;}
    &.icon-menu-item-expand      {@extend .fa-angle-down;}
    &.icon-menu-pull-toggle      {@extend .fa-circle-left;}
    &.icon-menu-toggle           {@extend .fa-bars;}
    &.icon-message               {@extend .fa-message-dots;}
    &.icon-messages              {@extend .fa-messages;}
    &.icon-money                 {@extend .fa-money-check-dollar;}
    &.icon-new                   {@extend .fa-users;} /* todo ?? */
    &.icon-next                  {@extend .fa-caret-right;}
    &.icon-notification          {@extend .fa-bell;}
    &.icon-password              {@extend .fa-key;}
    &.icon-password-hide         {@extend .fa-eye-slash;}
    &.icon-password-show         {@extend .fa-eye;}
    &.icon-pending               {@extend .fa-clock-five;}
    &.icon-previous              {@extend .fa-caret-left;}
    &.icon-profile               {@extend .fa-id-card;}
    &.icon-protected             {@extend .fa-shield-exclamation;}
    &.icon-protected-check       {@extend .fa-shield-check;}
    &.icon-question-answers      {@extend .fa-comments-question-check;}
    &.icon-refresh               {@extend .fa-arrow-rotate-right;}
    &.icon-report                {@extend .fa-flag;}
    &.icon-save                  {@extend .fa-floppy-disk;}
    &.icon-search                {@extend .fa-magnifying-glass;}
    &.icon-settings              {@extend .fa-gear;}
    &.icon-spam                  {@extend .fa-bug;}
    &.icon-star                  {@extend .fa-star;}
    &.icon-suggestion            {@extend .fa-lightbulb-on;}
    &.icon-trophy                {@extend .fa-trophy;}
    &.icon-unbookmark            {@extend .fa-bookmark-slash;}
    &.icon-unfilter              {@extend .fa-filter-slash;}
    &.icon-unlink                {@extend .fa-link-slash;}
    &.icon-unlock                {@extend .fa-unlock;}
    &.icon-unlocked              {@extend .fa-lock-open;}
    &.icon-upload                {@extend .fa-cloud-arrow-up;}
    &.icon-user-blocked          {@extend .fa-user-lock;}
    &.icon-user-check            {@extend .fa-user-check;}
    &.icon-users                 {@extend .fa-users;}
    &.icon-view                  {@extend .fa-eye;}
    &.icon-warning               {@extend .fa-triangle-exclamation;}
    &.icon-modal-close           {@extend .fa-xmark-large;}
    /*&.icon-administrators:before {color:red;content: var(--icon-administrators); font: var(--icon-font); font-size:1rem;}*/
}
