:root {
    --brand-color-secondary-lighter-100: #d45e77;
    --brand-color-secondary-lighter-200: #e49aaa;
    --brand-color-secondary-lighter-300: #f4d7dd;
    --brand-color-secondary-darker-100: #a12b44;
    --brand-color-secondary-darker-200: #792033;
    --brand-color-secondary-darker-300: #511522;

    --brand-color-secondary-lighter-100-contrast: var(--brand-color-fifth);
    --brand-color-secondary-lighter-100-contrast-hover: var(--brand-color-fifth);
    --brand-color-secondary-lighter-100-contrast-disabled: var(--brand-color-secondary-contrast-disabled);

    --brand-color-secondary-lighter-200-contrast: var(--brand-color-secondary);
    --brand-color-secondary-lighter-200-contrast-hover: var(--brand-color-fifth);
    --brand-color-secondary-lighter-200-contrast-disabled: var(--brand-color-secondary-contrast-disabled);

    --brand-color-secondary-lighter-300-contrast: var(--brand-color-secondary);
    --brand-color-secondary-lighter-300-contrast-hover: var(--brand-color-fifth);
    --brand-color-secondary-lighter-300-contrast-disabled: var(--brand-color-secondary-contrast-disabled);

    --brand-color-secondary-darker-100-contrast: var(--brand-color-fifth);
    --brand-color-secondary-darker-100-contrast-hover: var(--brand-color-fifth);
    --brand-color-secondary-darker-100-contrast-disabled: var(--brand-color-secondary-contrast-disabled);

    --brand-color-secondary-darker-200-contrast: var(--brand-color-fifth);
    --brand-color-secondary-darker-200-contrast-hover: var(--brand-color-fifth);
    --brand-color-secondary-darker-200-contrast-disabled: var(--brand-color-secondary-contrast-disabled);

    --brand-color-secondary-darker-300-contrast: var(--brand-color-fifth);
    --brand-color-secondary-darker-300-contrast-hover: var(--brand-color-fifth);
    --brand-color-secondary-darker-300-contrast-disabled: var(--brand-color-secondary-contrast-disabled);

}
