:root {
    --dark-color-background: #000000;
    --dark-color-text: var(--brand-color-fifth);
    --dark-color-text-hover: white;
    --dark-color-text-disabled: #756a7c;


    --dark-color-info: #3777FF;
    --dark-color-info-light: #e6e6ff;
    --dark-color-info-contrast: white;

    --dark-color-success : #4ce600;
    --dark-color-success-light: #ccffcc;
    --dark-color-success-contrast: white;

    --dark-color-warning: #FFBF46;
    --dark-color-warning-light: #fff2e6;
    --dark-color-warning-contrast: white;

    --dark-color-danger: #D81159;
    --dark-color-danger-light: #ffe6e6;
    --dark-color-danger-contrast: white;

    --dark-color-misc: #D7D0C8;

    --dark-color-disabled : #d9d9d9;

    --dark-overlay-background-color: rgba(0, 0, 0, 0.5);

}
