:root {
    --light-menu-badge-info-background-color: var(--light-color-info);
    --light-menu-badge-info-text-color: var(--light-color-info-contrast);

    --light-menu-badge-success-background-color: var(--light-color-success);
    --light-menu-badge-success-text-color: var(--light-color-success-contrast);

    --light-menu-badge-warning-background-color: var(--light-color-warning);
    --light-menu-badge-warning-text-color: var(--light-color-warning-contrast);

    --light-menu-badge-danger-background-color: var(--light-color-danger);
    --light-menu-badge-danger-text-color: var(--light-color-danger-contrast);
}
