:root {
    --light-menu-side-menuitem-color: var(--brand-color-primary-contrast);
    --light-menu-side-text-color: var(--brand-color-primary-contrast);
    --light-menu-side-text-disabled-color: rgba(255, 255, 255, 0.3);

    --light-menu-side-background-color: var(--brand-color-primary);

    --light-menu-side-user-text-color: var(--brand-color-primary-contrast);

    --light-menu-side-text-hover-color: var(--brand-color-tertiary);
    --light-menu-side-text-group-color: var(--brand-color-secondary);

}
