
/* ========== secondary ========== */
.bg-secondary {
    background-color: var(--brand-color-secondary);
    color: var(--brand-color-secondary-contrast);

    .hover {
        color: var(--brand-color-secondary-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-contrast-hover)
    }

}

.bg-secondary-lighter-100 {
    background-color: var(--brand-color-secondary-lighter-100);
    color: var(--brand-color-secondary-lighter-100-contrast);

    .hover {
        color: var(--brand-color-secondary-lighter-100-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-lighter-100-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-lighter-100-contrast-hover)
    }
}

.bg-secondary-lighter-200 {
    background-color: var(--brand-color-secondary-lighter-200);
    color: var(--brand-color-secondary-lighter-200-contrast);

    .hover {
        color: var(--brand-color-secondary-lighter-200-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-lighter-200-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-lighter-200-contrast-hover)
    }
}

.bg-secondary-lighter-300 {
    background-color: var(--brand-color-secondary-lighter-300);
    color: var(--brand-color-secondary-lighter-300-contrast);

    .hover {
        color: var(--brand-color-secondary-lighter-300-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-lighter-300-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-lighter-300-contrast-hover)
    }
}


.bg-secondary-darker-100 {
    background-color: var(--brand-color-secondary-darker-100);
    color: var(--brand-color-secondary-darker-100-contrast);

    .hover {
        color: var(--brand-color-secondary-darker-100-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-darker-100-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-darker-100-contrast-hover)
    }
}

.bg-secondary-darker-200 {
    background-color: var(--brand-color-secondary-darker-200);
    color: var(--brand-color-secondary-darker-200-contrast);

    .hover {
        color: var(--brand-color-secondary-darker-200-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-darker-200-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-darker-200-contrast-hover)
    }
}

.bg-secondary-darker-300 {
    background-color: var(--brand-color-secondary-darker-300);
    color: var(--brand-color-secondary-darker-300-contrast);

    .hover {
        color: var(--brand-color-secondary-darker-300-contrast-hover)
    }

    .disabled {
        color: var(--brand-color-secondary-darker-300-contrast-disabled)
    }

    .hoverme:hover {
        color: var(--brand-color-secondary-darker-300-contrast-hover)
    }
}
