.w-0	{width:  0px !important;}
.w-px	{width:  1px !important;}
.w-0\.5	{width:  0.125rem !important;} /* 2px */
.w-1	{width:  0.25rem !important;} /* 4px */
.w-1\.5	{width:  0.375rem !important;} /* 6px */
.w-2	{width:  0.5rem !important;} /* 8px */
.w-2\.5	{width:  0.625rem !important;} /* 10px */
.w-3	{width:  0.75rem !important;} /* 12px */
.w-3\.5	{width:  0.875rem !important;} /* 14px */
.w-4	{width:  1rem !important;} /* 16px */
.w-5	{width:  1.25rem !important;} /* 20px */
.w-6	{width:  1.5rem !important;} /* 24px */
.w-7	{width:  1.75rem !important;} /* 28px */
.w-8	{width:  2rem !important;} /* 32px */
.w-9	{width:  2.25rem !important;} /* 36px */
.w-10	{width:  2.5rem !important;} /* 40px */
.w-11	{width:  2.75rem !important;} /* 44px */
.w-12	{width:  3rem !important;} /* 48px */
.w-14	{width:  3.5rem !important;} /* 56px */
.w-16	{width:  4rem !important;} /* 64px */
.w-20	{width:  5rem !important;} /* 80px */
.w-24	{width:  6rem !important;} /* 96px */
.w-28	{width:  7rem !important;} /* 112px */
.w-32	{width:  8rem !important;} /* 128px */
.w-36	{width:  9rem !important;} /* 144px */
.w-40	{width:  10rem !important;} /* 160px */
.w-44	{width:  11rem !important;} /* 176px */
.w-48	{width:  12rem !important;} /* 192px */
.w-52	{width:  13rem !important;} /* 208px */
.w-56	{width:  14rem !important;} /* 224px */
.w-60	{width:  15rem !important;} /* 240px */
.w-64	{width:  16rem !important;} /* 256px */
.w-72	{width:  18rem !important;} /* 288px */
.w-80	{width:  20rem !important;} /* 320px */
.w-96	{width:  24rem !important;} /* 384px */
.w-auto	{width:  auto !important;}
.w-1\/2	{width:  50% !important;}
.w-1\/3	{width:  33.333333% !important;}
.w-2\/3	{width:  66.666667% !important;}
.w-1\/4	{width:  25% !important;}
.w-2\/4	{width:  50% !important;}
.w-3\/4	{width:  75% !important;}
.w-1\/5	{width:  20% !important;}
.w-2\/5	{width:  40% !important;}
.w-3\/5	{width:  60% !important;}
.w-4\/5	{width:  80% !important;}
.w-1\/6	{width:  16.666667% !important;}
.w-2\/6	{width:  33.333333% !important;}
.w-3\/6	{width:  50% !important;}
.w-4\/6	{width:  66.666667% !important;}
.w-5\/6	{width:  83.333333% !important;}
.w-1\/12	{width:  8.333333% !important;}
.w-2\/12	{width:  16.666667% !important;}
.w-3\/12	{width:  25% !important;}
.w-4\/12	{width:  33.333333% !important;}
.w-5\/12	{width:  41.666667% !important;}
.w-6\/12	{width:  50% !important;}
.w-7\/12	{width:  58.333333% !important;}
.w-8\/12	{width:  66.666667% !important;}
.w-9\/12	{width:  75% !important;}
.w-10\/12	{width:  83.333333% !important;}
.w-11\/12	{width:  91.666667% !important;}
.w-full	{width:  100% !important;}
.w-screen	{width:  100vw !important;}
.w-min	{width:  min-content !important;}
.w-max	{width:  max-content !important;}
.w-fit	{width:  fit-content !important;}
