:root {
    --dark-color: #002A32;
    --dark-color-contrast: #E6E8E6;

    --dark-color-info: lime;/*#3777FF;*/
    --dark-color-info-light: #e6e6ff;
    --dark-color-info-contrast: white;

    --dark-color-success : #0C7C59;
    --dark-color-success-light: #ccffcc;
    --dark-color-success-contrast: white;

    --dark-color-warning: #FFBF46;
    --dark-color-warning-light: #fff2e6;
    --dark-color-warning-contrast: white;

    --dark-color-danger: lime;/*#D81159;*/
    --dark-color-danger-light: #ffe6e6;
    --dark-color-danger-contrast: white;

    --dark-color-misc: #D7D0C8;

    --dark-color-disabled : #d9d9d9;

    --dark-color-muted : #d9d9d9;
}
