
.y-menu-left.menu-stacked {
    &.menu-hidden {
        margin-left: calc(-1 * var(--menu-stacked-width));
        left: calc(-1 * var(--menu-stacked-width));
    }
}

.y-menu-left.menu-icon-only {
    left: 0;
    right: 0;

    .menu-items {
        width: var(--menu-icon-only-width);
    }

    .link .title {
        margin-top: 0;
        opacity: 0;
        font-size: 0;
    }

    .menu-detail.open {
        left: var(--menu-icon-only-width);
    }

    &.menu-hidden {
        margin-left: calc(-1 * var(--menu-icon-only-width));
        left: calc(-1 * var(--menu-icon-only-width));
    }
}
.y-menu-left.menu-stacked,
.y-menu-left.menu-icon-only {
    a.link.level1 {
        padding-top:10px;
        padding-bottom:10px;
    }

    a.link.level2 {
        padding-top:5px;
        padding-bottom:5px;
    }

    a.link.level3 {
        padding-top:5px;
        padding-bottom:5px;
    }
}

.y-menu-left.menu-wide {
    left: 0;
    right: 0;

    &.menu-hidden {
        margin-left: calc(-1 * var(--menu-wide-width));
        left: calc(-1 * var(--menu-wide-width));
    }

    .menu-items {
        width: var(--menu-wide-width);

        .menu-detail {
            position: static;
            width: 100%;
            padding-top: 0;
            padding-right: 10px;
            padding-bottom: 0;
            .menu-detail-wrapper {
                /*overflow-y: scroll;*/
                padding-top: .75rem;
                padding-bottom: 0;
                overflow:hidden;
            }

            &.open {

            }
        }

        .link {
            display: flex;
            align-items: center;
            border-bottom-width: 0;
            padding-left: var(--menu-root-ident);
            padding-top: 5px;
            padding-bottom: 5px;

            .icon {
                line-height: 1;
                min-width:25px;
            }

            .title {
                margin-left: .5rem;
                margin-top: 0;
                display: inline;
            }

            &.is-active:before {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}


.menu-stacked .y-menu-left-footer {
    width: var(--menu-stacked-width);
}

.menu-wide .y-menu-left-footer {
    width: calc(var(--menu-wide-width) - 10px);
}

.menu-icon-only .y-menu-left-footer {
    width: var(--menu-icon-only-width);
}


.menu-wide {
    a.link {
        .item-title {
            padding-left: 10px;
        }
    }
}

.menu-stacked, .menu-icon-only {
    a.link.level1, a.link.level2, a.link.level3 {
        .item-title {
            padding-left: 10px;
        }
    }
}


.y-menu-left.menu-icon-only .menu-items .link .item-title {
    display:none;
}

.y-menu-left.menu-stacked .menu-items {
    width: var(--menu-stacked-width);
}

.y-menu-left.menu-stacked .menu-detail.open  {
    left: var(--menu-stacked-width) !important;
}

.y-menu-left.menu-wide .menu-element {
    display:flex;
}

.y-menu-left .menu-detail.open {
    overflow-y:auto;
    height: calc(100vh - var(--menu-top-height));
}
