.y-menu-top {
    position: fixed;
    top: 0;
    z-index: 500;
    display: flex;
    height: var(--menu-top-height);
    width: 100%;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: var(--menu-top-font);
    font-size: var(--menu-top-font-size);

    button.menu-top-button {
        font-family: var(--menu-top-font);
        font-size: var(--menu-top-font-size);

        label {
            padding-left:5px;
        }
    }

    .top-menu-left {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .top-menu-right {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .menu-toggler {
        margin-right: .5rem;
        margin-left: 1rem;
        line-height: 1;
    }

    .brand {
        font-family: var(--menu-top-brand-font);
        font-size: var(--menu-top-brand-font-size);
        line-height: 2rem;
        font-weight: 700;
        text-transform: uppercase;

        a {
            text-decoration: unset;
            color: unset;
        }
    }

    .icon-rotate {
        transition: transform 0.5s ease 0s;

        &:hover {
            transform: rotate(30deg);
        }
    }
}

@media (min-width: 768px) {
    /*
    .y-menu-top {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    */
}

.y-menu-top {
    .toggle {
        cursor: pointer;
        display: inline-block;
    }

}

.y-menu-top{
    .darkModeToggler {
        position: absolute;
        visibility: hidden;
    }

    .toggle-label {
        margin-left: 5px;
        position: relative;
        top: 2px;
    }
}


.y-menu-top {
    .y-toggle-dark {
        font-size: 0.6rem;
        display: inline-flex;
        padding: 0.5rem;
        color: var(--light-toggle-slider-text-color);
        align-items: center;
        cursor: pointer;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

        .checkbox-input ~span {
            &.is-on {
                display:none;
            }
            &.is-off {
                display:block;
            }
        }

        .checkbox-input:checked ~span {
            &.is-on {
                display: block;
            }

            &.is-off {
                display: none;
            }
        }
    }
}

.y-menu-top .profile-user-menu .usersection
{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;

    .username {
        font-size: var(--menu-left-user-name-font-size);
    }
    .tagline {
        font-size: var(--menu-left-user-tagline-font-size);
    }
}


/*=================== LIGHT THEME ===================*/
 img.avatar-img {
    border-color : var(--light-color-text-color);
}

 .y-menu-top {
    background-color: var(--light-menu-top-background-color);
}

 .y-menu-top, .y-menu-top button {
    color: var(--light-menu-top-text-color);
}

 .y-menu-top {
     .brand {
         color:var(--light-menu-top-brand-text-color);
     }
 }

 .y-menu-top button {
    &:hover {
        color: var(--light-menu-top-text-hover-color);
    }
}

/*=================== DARK THEME ===================*/
.dark .y-menu-top .menu-toggler {
    color: var(--dark-text-color-normal);
    &:hover {
        color: var(--dark-text-color-normal-hover);
    }
}

.dark img.avatar-img {
    border-color : var(--dark-color-text-color);
}

.dark .y-menu-top {
    background-color: var(--dark-menu-top-background-color);
}

.dark .y-menu-top, .dark .y-menu-top button {
    color: var(--dark-menu-top-text-color);
}

.dark .y-menu-top button {
    &:hover {
        color: var(--dark-menu-top-text-hover-color);
    }
}

