
.y-menu-top .topbar-badge,
.y-menu-left .sidebar-badge {
    position: relative;
    top: -4px;
    right: 0;
    margin-top: -0.25rem;
    margin-right: -0.25rem;
    margin-left: 3px;

    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;

    font-family: var(--menu-badge-font);
    font-size: var(--menu-badge-font-size);
    line-height: var(--menu-badge-font-size);
}

.y-menu-left.menu-stacked {
    .sidebar-badge {
        top: 2px;
        padding-left:25px;
        padding-right:25px;
    }
}

.y-menu-left {
    .level1, .level2 {
        .sidebar-badge {
            padding-left:5px;
            padding-right:5px;
        }
    }
}

.y-menu-left.menu-icon-only .sidebar-badge {
    margin-right: 0;
    top: 0;
}

.y-menu-left.menu-stacked .sidebar-badge {
    &.after{
      /*  display:none;*/
    }
}

/*.y-menu-left.menu-icon-only .sidebar-badge {
    &.after{
        display:none;
    }
}
*/

.y-menu-left.menu-wide .sidebar-badge {
    &.after {
        /*left:10px;*/
    }
    &.before{
        display:none;
    }
}



/*=================== LIGHT THEME ===================*/
    .topbar-badge, .sidebar-badge {
        &.is-info {
            color: var(--light-menu-badge-info-text-color);
            background-color: var(--light-menu-badge-info-background-color);
        }

        &.is-success {
            color: var(--light-menu-badge-success-text-color);
            background-color: var(--light-menu-badge-success-background-color);
        }

        &.is-warning {
            color: var(--light-menu-badge-warning-text-color);
            background-color: var(--light-menu-badge-warning-background-color);
        }

        &.is-danger {
            color: var(--light-menu-badge-danger-text-color);
            background-color: var(--light-menu-badge-danger-background-color);
        }
    }


/*=================== DARK THEME ===================*/
.dark {
    .topbar-badge, .sidebar-badge {
        &.is-info {
            color: var(--dark-menu-badge-info-text-color);
            background-color: var(--dark-menu-badge-info-background-color);
        }

        &.is-success {
            color: var(--dark-menu-badge-success-text-color);
            background-color: var(--dark-menu-badge-success-background-color);
        }

        &.is-warning {
            color: var(--dark-menu-badge-warning-text-color);
            background-color: var(--dark-menu-badge-warning-background-color);
        }

        &.is-danger {
            color: var(--dark-menu-badge-danger-text-color);
            background-color: var(--dark-menu-badge-danger-background-color);
        }
    }
}
