.y-menu-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    margin-top: 5rem;
    line-height: 1;
    transition-property: margin, left, right;
    transition: var(--menu-left-transition);

    font-family : var(--menu-left-font);
    font-size : var(--menu-left-level0-font-size);

    &.menu-sticky {
        position: fixed;
    }

    img.avatar-img {
        padding: 0.25rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 9999px;
        border-width: 1px;
        border-style: solid;
        display: inline;
    }
}

.y-menu-left .menu-items {
    /*position: relative;*/
    z-index: 20;
    height: 100%;
    overflow-y: auto;
    /*overflow-x: hidden;*/
    width: var(--menu-wide-width);
    transition: var(--menu-left-transition);


    .link {
        /*position: relative; allow hover to break out*/
        display: block;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: linear;

        .item-title {
            margin-top: .5rem;
            display: block;
            opacity: 1;
            transition-property: all;
            transition-duration: .2s;
            transition-timing-function: linear;
        }

        .icon {
            display: inline-block;
            line-height: 1;
            font-size: var(--menu-left-level0-font-size);
        }

        .is-active:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: block;
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
            background-color: lime;
            content: "";
            width: 5px;
        }
    }
}

.y-menu-left .menu-detail {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    overflow-y: scroll;
    padding-left: var(--menu-level1-ident);
    left: -220px;
    width: 220px;
    transition: var(--menu-left-transition);

    hr {
        margin-bottom: 1.25rem;
    }

    h6 {
        margin-bottom: .75rem;
    }

    &.open {
        left: var(--menu-wide-width);
    }

    a {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        span {
            line-height: 1;
        }
    }
}

.y-menu-left {
    .menu-detail {
        .menu-detail-wrapper {
            .is-hidden {
                display:none !important;
            }

            .is-disabled {
                color: var(--light-menu-side-text-disabled-color) !important;
                cursor: not-allowed;
                pointer-events: none !important;
            }
        }
    }
}

.y-menu-left {
    .menu-items {
        .is-hidden {
            display:none !important;
        }

        .is-disabled {
            color: var(--light-menu-side-text-disabled-color) !important;
            cursor: not-allowed;
            pointer-events:none !important;

            .sidebar-badge {
                color: var(--light-menu-side-text-disabled-color) !important;
                background-color: transparent !important;
            }

            &.root {
                font-size: var(--menu-left-level0-font-size);

                .icon {
                   font-size: inherit;
                }

                .sidebar-badge {
                    top:0;
                    padding-top:0;
                    padding-bottom:0;
                    padding-right:5px;
                    padding-left:5px;
                    line-height:unset;
                    /* font-size: calc(var(--menu-left-level0-font-size) * 1 );*/
                }
            }
        }
    }
}

.y-menu-left {
    a.link.level1, a.link.level2, a.link.level3 {
        :hover, :active {
            color: var(--light-menu-side-text-hover-color);
        }
    }
}

@media (min-width: 640px) {
    .y-menu-left {
        position: relative;

        &.menu-sticky {
            /*
            position: -webkit-sticky;
            position: sticky;
            top: 5rem;
            height: calc(100vh - 5rem);
            */
            height:100vh;
        }

        .menu-detail {
            left: -300px;
            width: 300px;
        }
    }
}

.y-menu-left {
    .menu-header .user-info{
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;
        align-items: center;

        .usersection {
            .username {
                font-size: var(--menu-left-user-name-font-size);
            }
            .tagline {
                font-size: var(--menu-left-user-tagline-font-size);
            }
        }

    }

    a.link {
        text-decoration-line: unset;

        .item-title {
            text-decoration-line: unset;
        }

        &.root {
            font-size: var(--menu-left-level0-font-size);
        }

        &.level1 {
            font-size: var(--menu-left-level1-font-size);
            padding-left:10px;
            padding-top:0;
            padding-bottom:0;
        }

        &.level2 {
            font-size: var(--menu-left-level2-font-size);
            padding-left:10px;
            padding-top:0;
            padding-bottom:0;
        }

        &.level3 {
            font-size: var(--menu-left-level3-font-size);
            padding-top:0;
            padding-bottom:0;
            font-style: italic;
        }

    }

    .group {
        &.level1 {
            font-family: var(--menu-heading-font);
            font-size: var(--menu-heading-level1-font-size);
            padding-bottom:10px;
            text-transform: uppercase;
        }

        &.level2 {
            font-family: var(--menu-heading-font);
            font-size: var(--menu-heading-level2-font-size);
            padding-bottom:10px;
            text-transform: uppercase;
        }

        &.level3 {
            font-family: var(--menu-heading-font);
            font-size: var(--menu-heading-level3-font-size);
            padding-bottom:10px;
            text-transform: uppercase;
        }
    }
}




.y-menu-left {
    .collapse {
        height: 0;
        overflow-y: hidden;
        opacity: 0;

        &.open {
            height: auto;
            overflow-y: auto;
            opacity: 1;
        }
    }

    .menu-detail {
        .collapse {
            margin-left: var(--menu-level2-ident);
            overflow:hidden;
        }
    }

    .menu-detail [data-toggle=collapse] {

        &.is-active {
            .collapse-indicator {
                transform: rotate(180deg);
                font-size:inherit;
            }
        }

        .collapse-indicator {
            transition: var(--menu-left-transition);
            margin-left:10px;
            font-size:inherit;
        }
    }

    .menu-header {

        a {
            text-decoration-line: unset;
        }

    }
}

.collapse {
    height: 0;
    overflow-y: hidden;
    opacity: 0;

    &.open {
        height: auto;
        overflow-y: auto;
        opacity: 1;
    }
}

.y-menu-left .menu-header {
    .usersection {
        margin-left: 1rem;
        text-align: left;
    }
    .separator {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.y-menu-left hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

