.y-menu-pull {
    position: fixed;
    top: 5rem;
    bottom: 0;
    z-index: 150;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    right: -320px;
    width: 320px;
    transition-property: right, left;
    transition-duration: .2s;
    transition-timing-function: linear;

    font-family: var(--menu-pull-font);
    font-size:1rem;

    
    &.open {
        transition-property: right, left;
        right: 0;
        transition-duration: .2s;
        transition-timing-function: linear;
    }

    &.y-menu-pull_customizer {
        top: var(--menu-top-height);
        z-index: 150;

        .y-menu-pull-toggler {
            top: 50%;
            margin-top: -1.25rem;
            width: 3.5rem;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}

.y-menu-pull-toggler {
    position: absolute;
    top: 0;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    padding: .5rem;
    font-size: 2rem;
    line-height: 1;
    right: 100%;
}

.y-menu-pull .header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.y-menu-pull .title {
    font-family: var(--menu-heading-font);
    font-size: var(--menu-pull-heading-font-size);
    font-weight:900;
}


.y-menu-pull .item {
   display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.y-menu-pupp .pull-container {
    overflow-y: auto;
}

@media (min-width:1024px) {
    .y-menu-pull:not(.y-menu-pull_customizer) {
        position: -webkit-sticky;
        position: sticky;
        z-index: 10;
        height: calc(100vh - 5rem);

        .y-menu-pull-toggler {
            display: none;
        }
    }
}

/*=================== LIGHT THEME ===================*/
 .y-menu-pull {
    color: var(--light-menu-pull-text-color);
    background-color: var(--light-menu-pull-background-color);

     .y-menu-pull-toggler {
         color:var(--light-color-disabled);
     }
}

.y-menu-pull {
    a {
        color: var(--light-menu-pull-text-color);

        &:hover {
            color: var(--light-menu-pull-text-hover-color)
        }
    }
}

/*=================== DARK THEME ===================*/
.dark .y-menu-pull {
    color: var(--dark-menu-pull-text-color);
    background-color: var(--dark-menu-pull-background-color);
}

.dark .y-menu-pull.y-menu-pull_customizer .y-menu-pull-toggler {
    background-color: var(--color-primary);
    color: var(--light-menu-pull-text-color);
}

.dark .y-menu-pull.y-menu-pull_customizer .y-menu-pull-toggler {
    background-color: var(--color-primary);
    color: var(--dark-menu-pull-text-color);
}

.dark .y-menu-pull {
    a {
        color: var(--dark-menu-text-link-color);

        &:hover {
            color: var(--dark-menu-text-link-hover-color)
        }
    }
}
