.y-menu-workspace {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    /*
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    */
    top: var(--menu-top-height);
    z-index:10;
}

.y-menu-workspace {
    transform: translateX(var(--menu-width--px));
    width: calc(100vw - var(--menu-width--px) - 20px);
    transition: var(--menu-left-transition);
    position: relative;
    min-height: calc(100vh - var(--menu-top-height));
}

.menu-hidden {
    .y-menu-workspace {
        left:0;
        transition: var(--menu-left-transition);
        transform: inherit;
    }
    .page-footer {
        width: calc(100vw);
    }
}

@media (min-width: 768px) {
    .y-menu-workspace {
        /*
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 2.5rem;

         */
    }
}

.overlay_y-menu-workspace {
    z-index: 10;
}

.y-menu-workspace .content {

    padding:10px;
    padding-bottom: var(--workspace-footer-height);


    @media (min-width: 1024px) {
    }

}

.dark .page-footer .divider {
}

.page-footer {
    width: calc(100vw - var(--menu-width--px) - 10px);
    padding-left : 10px;
    padding-right : 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    border-top-width: 1px;

    border-color: inherit;

    font-size: var(--workspace-footer-font-size);
    line-height: 1;

    position:absolute;
    bottom:0;
    height: var(--workspace-footer-height);
    justify-content: space-between;

    &nav {
        margin-left: auto;
    }

    .divider {
        margin-left: .5rem;
        margin-right: .5rem;
        --tw-text-opacity: 1;
        color: inherit;
    }

}

.y-menu-workspace .overlay {
    position: fixed;
    display: none;
    //width: 100%;
    width: calc(100vw - var(--menu-width--px));
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

