:root {
    --light-menu-pull-background-color: var(--brand-color-primary);
    --light-menu-pull-text-color: var(--brand-color-primary-contrast);
    --light-menu-pull-text-hover-color: var(--brand-color-tertiary);

}
