.y-content {
    .checkbox{
        color:inherit;
        border:1px;
        border-style:solid;
        border-color:inherit;
        height:1rem;
        width:1rem;
        box-sizing: border-box;
    }

    .y-checkbox--normal {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        /*--checkbox-check-color: inherit;*/
        /*color: inherit;*/

        &.is-info {
            --checkbox-check-color: var(--light-color-info);
            color: var(--light-color-info);
        }

        &.is-success {
            --checkbox-check-color: var(--light-color-success);
            color: var(--light-color-success);
        }

        &.is-warning {
            --checkbox-check-color: var(--light-color-warning);
            color: var(--light-color-warning);
        }

        &.is-danger {
            --checkbox-check-color: var(--light-color-danger);
            color: var(--light-color-danger);
        }

        &.is-error {
            --checkbox-check-color: var(--light-color-danger);
            color: var(--light-color-danger);
        }

        label.checkbox--label {
            font-weight: 500;
        }

        .checkbox-input {
            display:none;
        }

        .checkbox--help {
            color: var(--light-color-disabled);
            font-size: var(--font-size-small);
            line-height: var(--font-size-small-line-height);
            font-weight: 400;
        }

        .checkbox--validation {
            font-size: var(--font-size-small);
            line-height: var(--font-size-small-line-height);
            font-weight: normal;
        }

        .checkbox {
            display: flex;
            margin-right: 0.5rem;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 1rem;
            height: 1rem;
            border-radius: 0.25rem;
            border-width: 2px;

            svg.mark {
                display: none;
                width: 1rem;
                height: 1rem;
                pointer-events: none;
                fill: var(--checkbox-check-color);
            }

            .checkbox-input:checked ~ svg.mark {
                display: block;
            }
        }
    }
}
