.y-content {
    .y-dropdown--container {
        position: relative;

        .y-dropdown--label {
            margin-right: 5px;
        }

        .y-dropdown--card {
            display: none;
            position: absolute;
            z-index: 20;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-top: 0.5rem;
            background-color: #ffffff;
            width: 12rem;
            border-radius: 0.375rem;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

            &.left-aligned {
                left: 0;
            }

            &.right-aligned {
                right: 0;
            }

            .y-dropdown--item {
                padding:5px;
                display:block;
                text-decoration:none;
            }
        }

        .y-dropdown--checkbox--input:checked ~ .y-dropdown--card  {
            display: block;
        }
    }
}
