

.y-content {
    .y-input-field {
        background-color: var(--light-input-background-color);
        color: var(--light-input-text-color);
        border-color: var(--light-input-border-color);

        &:focus {
            background-color: var(--light-input-focus-background-color);
            color: var(--light-input-focus-text-color);
        }

        &.is-info {
            border-color: var(--light-color-info);
        }

        &.is-success {
            border-color: var(--light-color-success);
            color: var(--light-color-success);
        }

        &.is-warning {
            border-color: var(--light-color-warning);
            color: var(--light-color-warning);
        }

        &.is-error {
            border-color: var(--light-color-danger);
            color: var(--light-color-danger);
        }

        &.is-disabled {
            background-color: var(--light-input-disabled-backgound-color);
            color: var(--light-input-disabled-text-color);
        }
    }

    .y-input-help {
        p {
            &.is-help { color: var(--light-color-info); }
            &.is-info { color: var(--light-color-info); }
            &.is-success { color: var(--light-color-success); }
            &.is-warning { color: var(--light-color-warning); }
            &.is-danger { color: var(--light-color-warning); }
            &.is-error { color: var(--light-color-danger); }
        }
    }
    .input-with-append {
        border-width:0;
        >.y-input-field {
            color: var(--light-input-text-color);
            border-color: var(--light-input-text-color);

            &.is-help {
                color: var(--light-color-info);
                border-color: var(--light-color-info);
            }
            &.is-info {
                color: var(--light-color-info);
                border-color: var(--light-color-info);
            }
            &.is-success {
                color: var(--light-color-success);
                border-color: var(--light-color-success);
            }
            &.is-warning {
                color: var(--light-color-warning);
                border-color: var(--color-warnig);
            }
            &.is-danger {
                color: var(--light-color-danger);
                border-color: var(--light-color-danger);
            }
            &.is-error {
                color: var(--light-color-danger);
                border-color: var(--light-color-danger);
            }
        }

        >.y-input-append {
            color: var(--light-input-append-text-color);
            background-color : var(--light-input-append-background-color);
            border-color: var(--light-input-text-color);

            &.is-help {
                background-color: var(--light-color-info);
                border-color: var(--light-color-info);
            }
            &.is-info {
                background-color: var(--light-color-info);
                border-color: var(--light-color-info);
            }
            &.is-success {
                background-color: var(--light-color-success);
                border-color: var(--light-color-success);
            }
            &.is-warning {
                background-color: var(--light-color-warning);
                border-color: var(--light-color-warning);
            }
            &.is-danger {
                background-color: var(--light-color-danger);
                border-color: var(--light-color-danger);
            }
            &.is-error {
                background-color: var(--light-color-danger);
                border-color: var(--light-color-danger);
            }

            &.is-disabled {
                background-color: transparent;
                color: var(--light-input-text-color);
            }
        }
    }
}


.y-content {
    .y-input {
        display: inline;
        margin-top: 0.75rem;

        .label {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: var(--light-input-label-color);
            font-weight: bold;
            border: 0;
        }

        .label-help {
                font-style: italic;
                font-weight: 400;
                text-transform: lowercase;

                a:hover {
                    text-decoration: underline;
                }
            }
    }

    .y-input-field {
        display: block;
        width: 100%;
        appearance: none;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1.25;
        border-radius: 0.25rem;
        border-width: 1px;

        &:focus {
            outline: 0;
        }

        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    .y-input-help {
        p {
            margin-top: 0.25rem;
            font-size: 0.75rem;
            line-height: 1rem;
            font-style: italic;
            font-weight:normal;
            text-transform: none;
        }
    }

    .input-with-append {
        border-radius: 0.25rem;
        border-width:0px;
        border-style:solid;

        >.y-input-field {
            border-width:1px;
            border-style:solid;
            border-radius: 0.25rem;

            &.prefix {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-width: 0;
            }

            &.postfix {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }
        }

        >.y-input-append {
            display: flex;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            align-items: center;

            border-width:1px;
            border-style:solid;
            font-size: var(--font-size-small);

            &.prefix {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

            &.postfix {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
    }
}
