<!DOCTYPE html>
<html lang="en" class="dark1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../../../../public/bounty/shared/css/main.css" rel="stylesheet">
    <link href="../../darkswitch.css" rel="stylesheet">
    <link href="../../../public/shared/css/vendor/flags/css/flag-icon.min.css" rel="stylesheet">

</head>
<body>
<div class="y-page--right">
    <div class="sections">
        <div class="section--background">
            <div class="image"
                 style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),  url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat top fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                <div class="content">
                    <div class="middle--center">
                        <h2 class="header">Awesome Brand</h2>
                        <div class="description">
                            The best in class
                        </div>
                    </div>

                    <div class="middle--bottom">
                        <h2 class="header">Supported by</h2>
                        <div class="description">
                            Awesome client in daily life
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section--content">
            <div class="content">

                <div class="y-content">
                    <div class="flex justify-between">
                        <div class="text-muted text-small">
                            Not a member ?
                            <a>Signup now</a>
                        </div>

                        <!-- Language dropdown-->
                        <div class="y-dropdown--container">
                            <!-- Dropdown toggle -->
                            <input id="checkbox-125" type="checkbox" class="hidden y-dropdown--checkbox--input" >
                            <label for="checkbox-125" class="flex justify-end" >
                                <div  class="y-dropdown--label">
                                    <span class="flag-icon flag-icon-de"></span>
                                </div>
                                <div class="icon icon-dropdown"></div>
                            </label>

                            <!-- Dropdown card -->
                            <div class="y-dropdown--card right-aligned">
                                <a href="#" class="y-dropdown--item"> <span class="flag-icon flag-icon-nl"></span> Dutch  </a>
                                <a href="#" class="y-dropdown--item"> <span class="flag-icon flag-icon-us"></span> English </a>
                            </div>
                        </div>
                    </div>

                    <div class="header flex-row ">
                        <!--                <div class="brand&#45;&#45;name">Bedrock</div>-->
                        <img class="brand--logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/500px-LEGO_logo.svg.png">
                        <div class="section--title">Login</div>
                        <div class="section--subtitle">login to get access</div>
                    </div>
<br><br><br><br><br>
                    <div class="y-content">
                            <div class="flex justify-between">
                                <button class="y-btn y-btn-primary"> login</button>
                            </div>
                    </div>
                </div>

            </div>

            <footer class="" style="margin-top:100px">
                <div class="page-right--footer flex flex-column">
                    <div>Copyright © 2022 . All rights reserved</div>
                    <div><a>Terms and conditions more condi</a></div>
                </div>
            </footer>

        </div>
    </div>
</div>

</body>

</html>
