/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use "../../../icons/fontawesome-pro6/css/all.css";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss/_icon.scss 1:1            @import
 *   scss/__main_content.scss 18:9  @import
 *   y-content.scss 5:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use \"../../../icons/fontawesome-pro6/css/all.css\";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss/_icon.scss 1:1            @import\a   scss/__main_content.scss 18:9  @import\a   y-content.scss 5:9             root stylesheet";
}
