:root {
    --light-color-background: white;
    --light-color-text: navy;
    --light-color-text-hover: var(--brand-color-secondary);

    --light-color-info: #3777FF;
    --light-color-info-light: #e6e6ff;
    --light-color-info-contrast: white;

    --light-color-success : #0C7C59;
    --light-color-success-light: #ccffcc;
    --light-color-success-contrast: white;

    --light-color-warning: #FFBF46;
    --light-color-warning-light: #fff2e6;
    --light-color-warning-contrast: white;

    --light-color-danger: #D81159;
    --light-color-danger-light: #ffe6e6;
    --light-color-danger-contrast: white;

    --light-color-misc: #D7D0C8;

    --light-color-disabled : #d9d9d9;

    --light-overlay-background-color: rgba(0, 0, 0, 0.5);
}
