textarea {
    resize: vertical;
}

button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

.select-none{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.hidden{
    display: none !important;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

@media (min-width: 640px) {
    .sm\:hidden{
        display: none !important;
    }

}

@media (min-width: 640px) {
    .sm\:block {
        display: block !important;
    }
}

@media (min-width: 1024px) {
    .lg\:block {
        display: block !important;
    }
}
