.grid{
    display: grid !important;
}

.grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
.grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
.grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}
.grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
}
.grid-cols-5{
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}

.gap-2{
    gap: 0.5rem !important;
}

.gap-4{
    gap: 1rem !important;
}

.gap-1{
    gap: 0.25rem !important;
}

.gap-8{
    gap: 2rem !important;
}

.gap-6{
    gap: 1.5rem !important;
}

.gap-3{
    gap: 0.75rem !important;
}

.gap-5{
    gap: 1.25rem !important;
}

.gap-12{
    gap: 3rem !important;
}


.auto-rows-fr{
    grid-auto-rows: minmax(0, 1fr) !important;
}

.basis-1\/4{
    flex-basis: 25% !important;
}

.basis-1\/2{
    flex-basis: 50% !important;
}

@media (min-width: 640px){
    .sm\:grid{
        display: grid !important;
    }

    .sm\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .sm\:grid-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .sm\:gap-2{
        gap: 0.5rem !important;
    }
}

@media (min-width: 768px) {

    .md\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .lg\:grid-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .lg\:gap-8{
        gap: 2rem !important;
    }

    .lg\:gap-2{
        gap: 0.5rem !important;
    }
}

@media (min-width: 1280px){

    .xl\:grid-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    .xl\:grid-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .xl\:gap-6{
        gap: 1.5rem !important;
    }
}
