@import url(https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap);



:root {
    --brand-color-primary: #1B3022; /* when this is used as background, uses -contrast as text color*/
    --brand-color-secondary: #B9314F;
    --brand-color-tertiary: #D5A18E;
    --brand-color-fourth: #DEC3BE;
    --brand-color-fifth: #E1DEE3;

    --brand-color-fifth-hover: #b4acb9;


    --brand-color-primary-hover : #539368;
    --brand-color-primary-contrast: var(--brand-color-fifth);
    --brand-color-primary-contrast-hover: white;
    --brand-color-primary-contrast-disabled: var(--brand-color-fifth-hover);

    --brand-color-secondary-hover : #539368;
    --brand-color-secondary-contrast: var(--brand-color-fifth);
    --brand-color-secondary-contrast-hover: white;
    --brand-color-secondary-contrast-disabled: var(--brand-color-fifth-hover);

    --brand-color-tertiary-50: #ead1c7;
    --brand-color-tertiary-10: #f8f0ec;

    --brand-font : 'Rubik Marker Hatch', cursive;
}

@import "./_brand_primaries.scss";
@import "./_brand_secondaries.scss";

