@import "./_top.scss";
@import "./_badge.scss";
@import "./_left.scss";
@import "./_pull.scss";
@import "./_dropdowns.scss";

:root {
    --dark-menu-text-link-color: orange;
    --dark-menu-text-link-hover-color: lime;

    --dark-text-color-normal: yellow;/*var(--dark-color-contrast);*/
    --dark-text-color-normal-hover: red; /*var(--color-gray-600);*/
}
