:root {
    --dark-screen-notification-info-background-color: var(--light-color-info);
    --dark-screen-notification-info-text-color: white;
    --dark-screen-notification-success-background-color: var(--light-color-success);
    --dark-screen-notification-success-text-color: white;
    --dark-screen-notification-warning-background-color: var(--light-color-warning);
    --dark-screen-notification-warning-text-color: black;
    --dark-screen-notification-danger-background-color: var(--light-color-danger);
    --dark-screen-notification-danger-text-color: white;
}
