/* ========== LIGHT ========== */
@import './variables/_branding.scss';

$primaryColor:$brandSecondary;
$primaryTextColor:#fefefe;

$primaryLightestColor: #E0F7FA;
$primaryMenuTextColor: #00838F;

$accentColor:#ff3366;
$accentTextColor:#ffffff;

@import './variables/_theme_detail_light.scss';

@import '../../../scss/vendor/prime/themes/bootstrap4/bootstrap4-light/purple/theme.scss';

/* ========== Y-Frame ========== */
@import '../../../scss/vendor/yframe/themes/light/theme.scss';
