/* ========== DARK ========== */
@import './variables/_branding.scss';

$primaryColor:#4DD0E1;
$primaryLightestColor: #E0F7FA;
$primaryTextColor:#212121;
$accentColor:#e15e4d;
$accentTextColor:#212121;

@import './variables/_theme_detail_dark.scss';

@import '../../../scss/vendor/prime/themes/bootstrap4/bootstrap4-dark/purple/theme.scss';

/* ========== Y-Frame ========== */
@import '../../../scss/vendor/yframe/themes/dark/theme.scss';
