:root {
    --icon-font: var(--fa-font-light);
    --icon-font-regular: var(--fa-font-regular);
    --icon-font-solid: var(--fa-font-solid);

    /* alternative icon set definitions */
    --icon-administrators: "\f0c0";     /* fa-users */
}
