.y-card {
    display: block;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style:solid;
    border-color: #E5E7EB;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .card--title {
        margin-bottom: 0.5rem;
        color: #111827;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        letter-spacing: -0.025em;
    }

}
