
.y-content {
    .wide-slider {
        --slider-width: 50px;
    }

    .y-toggle-slider {
        font-size: 0.6rem;
        line-height:1rem;
        display: inline-flex;
        padding: 0.5rem;
        color: var(--light-toggle-slider-text-color);
        align-items: center;
        cursor: pointer;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

        .slider {
            width:var(--slider-width);
        }

        .checkbox-input ~span {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            &.is-on {
                background-color: var(--light-toggle-slider-on-background-color);
                color: var(--light-toggle-slider-on-text-color);

                width:var(--slider-width);
                border-top-right-radius: var(--toggle-slider-radius);
                border-bottom-right-radius: var(--toggle-slider-radius);
                line-height:inherit;
            }

            &.is-off {
                background-color: var(--light-toggle-slider-off-background-color);
                color: var(--light-toggle-slider-off-text-color);
                width:var(--slider-width);
                border-top-left-radius: var(--toggle-slider-radius);
                border-bottom-left-radius: var(--toggle-slider-radius);
                line-height:inherit;

            }

            &.slider {
                transform: translateX(calc(-1 * var(--slider-width)));
                transition: 0.5s;
                background-color: var(--light-toggle-slider-background-color);
                border-radius:0;
                border-top-right-radius: calc(var(--toggle-slider-radius) - 2px);
                border-bottom-right-radius: calc(var(--toggle-slider-radius)  - 2px);
                height:100%;
            }
        }

        .checkbox-input ~span.is-off, .checkbox-input ~span.is-on, , .checkbox-input ~span.slider {
            &.green {
                background-color: green;
                --light-toggle-slider-background-color: green;
            }

            &.red {
                background-color: red;
                --light-toggle-slider-background-color: red;
            }

            &.purple {
                background-color:purple;
                --light-toggle-slider-background-color: purple;
            }

            &.yellow {
                --light-toggle-slider-background-color: yellow;
            }
        }

        .checkbox-input:checked ~span {
            &.is-on {
                /*background-color: var(--light-toggle-slider-on-background-color);*/
                /*color:white;*/
            }
            &.is-off {
                /*background-color: var(--light-toggle-slider-off-color);*/
                /*color: var(--light-toggle-slider-off-color);*/
            }
            &.slider {
                transform: translateX(calc(-2 * var(--slider-width)));
                transition: 0.5s;
                background-color: var(--light-toggle-slider-background-color);

                border-radius:0;
                border-top-left-radius: calc( var(--toggle-slider-radius)  - 2px);
                border-bottom-left-radius: calc(var(--toggle-slider-radius)  - 2px);
            }
        }
    }
}

.y-content {
    .y-toggle-slider {
        &.round {
            --toggle-slider-radius: 30px;
            --slider-width : 30px !important;

            .checkbox-input ~span {
                &.is-on, &.is-off{
                    background-color: red ; /*var(--light-toggle-slider-on-background-color);*/
                    color: var(--light-toggle-slider-on-text-color);
                }

                &.slider {
                    border-radius: var(--toggle-slider-radius) !important;
                    width: 20px;
                    height: 20px;
                    transition: 0.1s;
                    transform: translateX(calc(-1 * var(--slider-width)  + 5px));
                }
            }

            .checkbox-input:checked ~span {
                &.is-on, &.is-off{
                    background-color: orange ; /*var(--light-toggle-slider-on-background-color);*/
                    color: var(--light-toggle-slider-on-text-color);
                }

                &.slider {
                    transform: translateX(calc(-2 * var(--slider-width) + 5px));

                }
            }
        }

    }
}

.y-content {
    .y-toggle-dark {
        font-size: 0.6rem;
        display: inline-flex;
        padding: 0.5rem;
        color: var(--light-toggle-slider-text-color);
        align-items: center;
        cursor: pointer;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

        .checkbox-input ~span {
            &.is-on {
                display:none;
            }
            &.is-off {
                display:block;
            }
        }

        .checkbox-input:checked ~span {
            &.is-on {
                display: block;
            }

            &.is-off {
                display: none;
            }
        }
    }
}
