.y-input-code .is-loading {
  position: absolute;
  z-index: 10;
  height: 60px;
}
.y-input-code .is-loading .loading-text {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  font-weight: bold;
}
.y-input-code .code input {
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-monospaced);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-appearance: initial;
  width: 40px;
  height: 60px;
}
.y-input-code .code input:nth-of-type(3) {
  margin-right: 20px;
}
.y-input-code .code input:focus {
  outline: none;
  border-style: solid;
  border-width: 2px;
}
.y-input-code .code input.is-error {
  border-color: var(--light-color-danger);
  background-color: var(--light-color-danger-light);
}
.y-input-code .code.blurred input {
  opacity: 0.1;
  filter: blur(0.5px);
  pointer-events: none;
}

.y-dropdown--container {
  position: relative;
}
.y-dropdown--container .y-dropdown--label {
  margin-right: 5px;
}
.y-dropdown--container .y-dropdown--card {
  display: none;
  position: absolute;
  z-index: 20;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #ffffff;
  width: 12rem;
  border-radius: 0.375rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.y-dropdown--container .y-dropdown--card.left-aligned {
  left: 0;
}
.y-dropdown--container .y-dropdown--card.right-aligned {
  right: 0;
}
.y-dropdown--container .y-dropdown--card .y-dropdown--item {
  padding: 5px;
  display: block;
  text-decoration: none;
}
.y-dropdown--container .y-dropdown--checkbox--input:checked ~ .y-dropdown--card {
  display: block;
}

.y-tag-label {
  --chip-color-label: navy;
  display: inline-block;
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 5px;
  font-size: var(--font-size-normal);
  line-height: calc(var(--font-size-normal) * 1.2);
}
.y-tag-label.rotate {
  transform: rotate(20deg);
}
.y-tag-label:hover {
  font-weight: bold;
}
.y-tag-label.tiny {
  font-size: var(--font-size-extra-small);
  line-height: calc(var(--font-size-extra-small) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--font-size-extra-small);
}
.y-tag-label.small {
  font-size: var(--font-size-small);
  line-height: calc(var(--font-size-small) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--font-size-small);
}
.y-tag-label.large {
  font-size: var(--font-size-large);
  line-height: calc(var(--font-size-large) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--font-size-large);
}
.y-tag-label.extra-large {
  font-size: var(--font-size-extra-large);
  line-height: calc(var(--font-size-extra-large) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--font-size-extra-large);
}
.y-tag-label .y-tag-label--pointer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--chip-color-label);
}
.y-tag-label .y-tag-label--content {
  margin-left: -1px;
  background-color: var(--chip-color-label);
  flex-grow: 1;
  height: 100%;
  border-radius: 0.375rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.y-tag-label .y-tag-label--text {
  position: relative;
  color: white;
  padding-left: 15px;
  padding-right: 5px;
  transform: rotate(20deg);
}

.y-tag-label.is-info-open .y-tag-label--pointer {
  color: var(--light-color-info);
}
.y-tag-label.is-info-open .y-tag-label--content {
  border-width: 2px;
  border-color: var(--light-color-info);
  background-color: white;
  border-style: solid;
}
.y-tag-label.is-info-open .y-tag-label--text {
  color: var(--light-color-info);
}
.y-tag-label.is-info-solid .y-tag-label--pointer {
  color: var(--light-color-info);
}
.y-tag-label.is-info-solid .y-tag-label--content {
  background-color: var(--light-color-info);
}
.y-tag-label.is-info-solid .y-tag-label--text {
  color: white;
}
.y-tag-label.is-success-open .y-tag-label--pointer {
  color: var(--light-color-success);
}
.y-tag-label.is-success-open .y-tag-label--content {
  border-width: 2px;
  border-color: var(--light-color-success);
  background-color: white;
  border-style: solid;
}
.y-tag-label.is-success-open .y-tag-label--text {
  color: var(--light-color-success);
}
.y-tag-label.is-success-solid .y-tag-label--pointer {
  color: var(--light-color-success);
}
.y-tag-label.is-success-solid .y-tag-label--content {
  background-color: var(--light-color-success);
}
.y-tag-label.is-success-solid .y-tag-label--text {
  color: white;
}
.y-tag-label.is-warning-open {
  border-style: solid;
  border-width: 3px;
  border-left-style: none;
}
.y-tag-label.is-warning-open .y-tag-label--pointer {
  color: var(--light-color-warning);
}
.y-tag-label.is-warning-open .y-tag-label--content {
  border-width: 2px;
  border-color: var(--light-color-warning);
  background-color: white;
  border-style: solid;
}
.y-tag-label.is-warning-open .y-tag-label--text {
  color: var(--light-color-warning);
}
.y-tag-label.is-warning-solid .y-tag-label--pointer {
  color: var(--light-color-warning);
}
.y-tag-label.is-warning-solid .y-tag-label--content {
  background-color: var(--light-color-warning);
}
.y-tag-label.is-warning-solid .y-tag-label--text {
  color: white;
}
.y-tag-label.is-danger-open .y-tag-label--pointer {
  color: var(--light-color-danger);
}
.y-tag-label.is-danger-open .y-tag-label--content {
  border-width: 2px;
  border-color: var(--light-color-danger);
  background-color: white;
  border-style: solid;
}
.y-tag-label.is-danger-open .y-tag-label--text {
  color: var(--light-color-danger);
}
.y-tag-label.is-danger-solid .y-tag-label--pointer {
  color: var(--light-color-danger);
}
.y-tag-label.is-danger-solid .y-tag-label--content {
  background-color: var(--light-color-danger);
}
.y-tag-label.is-danger-solid .y-tag-label--text {
  color: white;
}

.y-tag-chip {
  background-color: transparent;
  border-color: navy;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  color: navy;
  font-size: var(--font-normal);
  line-height: calc(var(--font-normal) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.y-tag-chip .icon {
  padding-right: 10px;
}
.y-tag-chip.tiny {
  font-size: var(--font-size-extra-small);
  line-height: var(--font-size-extra-small);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--font-size-extra-small);
}
.y-tag-chip.tiny .icon {
  padding-right: 5px;
}
.y-tag-chip.small {
  font-size: var(--font-size-small);
  line-height: calc(var(--font-size-small) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(var(--font-size-small) / 2);
  padding-right: calc(var(--font-size-small) / 2);
  border-radius: var(--font-size-small);
}
.y-tag-chip.small .icon {
  padding-right: 5px;
}
.y-tag-chip.large {
  font-size: var(--font-size-large);
  line-height: calc(var(--font-size-large) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(var(--font-size-large) / 2);
  padding-right: calc(var(--font-size-large) / 2);
  border-radius: var(--font-size-large);
}
.y-tag-chip.large .icon {
  padding-right: 5px;
}
.y-tag-chip.extra-large {
  font-size: var(--font-size-extra-large);
  line-height: calc(var(--font-extra-large) * 1.2);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: var(--font-size-extra-large);
  border-width: 2px;
}
.y-tag-chip.extra-large .icon {
  padding-right: 5px;
}
.y-tag-chip:hover {
  font-weight: bold;
}
.y-tag-chip.square {
  border-radius: 3px;
}
.y-tag-chip.square.tiny {
  border-radius: 2px;
}
.y-tag-chip.square.small {
  border-radius: 2px;
}
.y-tag-chip.square.large {
  border-radius: 3px;
}
.y-tag-chip.square.extra-large {
  border-radius: 5px;
}

.y-tag-chip.blue-open {
  color: var(--color-blue);
  border-color: var(--color-blue);
  background-color: transparent;
}
.y-tag-chip.blue-solid {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: white;
}
.y-tag-chip.is-info-open {
  color: var(--light-color-info);
  border-color: var(--light-color-info);
  background-color: transparent;
}
.y-tag-chip.is-info-solid {
  background-color: var(--light-color-info);
  border-color: var(--light-color-info);
  color: white;
}
.y-tag-chip.is-success-open {
  color: var(--light-color-success);
  border-color: var(--light-color-success);
  background-color: transparent;
}
.y-tag-chip.is-success-solid {
  background-color: var(--light-color-success);
  border-color: var(--light-color-success);
  color: white;
}
.y-tag-chip.is-warning-open {
  color: var(--light-color-warning);
  border-color: var(--light-color-warning);
  background-color: transparent;
}
.y-tag-chip.is-warning-solid {
  background-color: var(--light-color-warning);
  border-color: var(--light-color-warning);
  color: white;
}
.y-tag-chip.is-danger-open {
  color: var(--light-color-danger);
  border-color: var(--light-color-danger);
  background-color: transparent;
}
.y-tag-chip.is-danger-solid {
  background-color: var(--light-color-danger);
  border-color: var(--light-color-danger);
  color: white;
}
.y-tag-chip.is-disabled-open {
  color: var(--light-color-disabled);
  border-color: var(--light-color-disabled);
  background-color: transparent;
}
.y-tag-chip.is-disabled-solid {
  background-color: var(--light-color-disabled);
  border-color: var(--light-color-disabled);
  color: white;
}

.y-button-banner {
  overflow: hidden;
  position: relative;
  border-radius: 0.25rem;
}
.y-button-banner .ribbon {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 22px;
  margin-right: -50px;
  margin-top: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
  transform: rotate(45deg); /* Standard syntax */
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #EF4444;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.y-alert {
  margin-top: 3px;
  margin-bottom: 3px;
}
.y-alert .icon {
  padding-top: 0.5rem;
}
.y-alert .header {
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.y-alert .description {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.y-alert .description a {
  font-weight: bold;
  text-decoration: underline;
}
.y-alert .description ul {
  list-style-type: disc;
  list-style-position: inside;
}

.y-alert {
  border-style: solid;
  border-radius: 0;
  border-left-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.y-alert.left {
  border-width: 0;
  border-style: solid;
  border-left-width: 8px;
  border-radius: 5px;
  padding-left: 0;
  padding-top: 0;
}
.y-alert.left.with-header .header {
  border-radius: 0 5px 0 0;
  padding-bottom: 0.5rem;
}
.y-alert.left.with-header .description {
  padding-top: 1rem;
}
.y-alert.top {
  border-style: solid;
  border-radius: 0;
  border-width: 0;
  border-top-width: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.y-alert.top .header {
  padding-top: 0;
}

.y-alert {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.y-alert.is-info {
  color: var(--light-color-info);
  background-color: var(--light-color-info-light);
  border-color: var(--light-color-info);
}
.y-alert.is-info.with-header .header {
  color: var(--light-color-info-light);
  background-color: var(--light-color-info);
}
.y-alert.is-success {
  color: var(--light-alert-success-text-color);
  background-color: var(--light-alert-success-color-light);
  border-color: var(--light-alert-success-color);
}
.y-alert.is-success.with-header .header {
  color: var(--light-alert-success-banner-text-color);
  background-color: var(--light-alert-success-banner-color);
}
.y-alert.is-warning {
  color: var(--light-alert-warning-text-color);
  background-color: var(--light-alert-warning-color-light);
  border-color: var(--light-alert-warning-color);
}
.y-alert.is-warning.with-header .header {
  color: var(--light-alert-warning-banner-text-color);
  background-color: var(--light-alert-warning-banner-color);
}
.y-alert.is-danger {
  color: var(--light-alert-danger-text-color);
  background-color: var(--light-alert-danger-color-light);
  border-color: var(--light-alert-danger-color);
}
.y-alert.is-danger.with-header .header {
  color: var(--light-alert-warning-banner-text-color);
  background-color: var(--light-alert-danger-banner-color);
}

.y-breadcrumb {
  width: 100%;
  display: flex;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  white-space: nowrap;
  align-items: center;
  font-size: var(--font-size-small);
  color: var(--light-color-disabled);
}
.y-breadcrumb a {
  text-decoration: none;
}
.y-breadcrumb .title:hover {
  font-weight: bold !important;
}
.y-breadcrumb .breadcrumb--separator {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--text-muted);
}

.y-breadcrumb--boxed {
  display: flex;
}
.y-breadcrumb--boxed ol.breadcrumb--list {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-color-disabled);
  padding: 0;
  font-size: var(--font-size-small);
  color: var(--light-color-disabled);
  color: var(--light-color-disabled);
}
.y-breadcrumb--boxed ol.breadcrumb--list a {
  text-decoration: none;
}
.y-breadcrumb--boxed ol.breadcrumb--list li {
  padding: 0;
}
.y-breadcrumb--boxed ol.breadcrumb--list li.breadcrumb--item {
  display: flex;
  position: relative !important;
  align-items: center;
  color: inherit;
}
.y-breadcrumb--boxed ol.breadcrumb--list li.breadcrumb--item :hover {
  font-weight: bold !important;
}
.y-breadcrumb--boxed ol.breadcrumb--list .spacer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  background-color: var(--light-color-disabled);
  width: 1rem;
  height: 2.5rem;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.y-breadcrumb--boxed ol.breadcrumb--list .breadcrumb--link {
  display: flex;
  padding-left: 2rem;
  padding-right: 1rem;
  transition-property: background-color, border-color, color, fill, stroke;
  align-items: center;
  height: 2.5rem;
  color: black;
}
.y-breadcrumb--boxed ol.breadcrumb--list .breadcrumb--link.colored {
  background-color: var(--light-color-disabled);
  padding-left: 1rem;
  color: white;
}
.y-breadcrumb--boxed ol.breadcrumb--list li a.breadcrumb--link .title {
  padding-left: 0.5rem;
  line-height: 1rem;
}

:root {
  --light-color-info: #3777FF;
  --light-color-info-light: #e6e6ff;
  --light-color-info-contrast: white;
  --light-color-success: #0C7C59;
  --light-color-success-light: #ccffcc;
  --light-color-success-contrast: white;
  --light-color-warning: #FFBF46;
  --light-color-warning-light: #fff2e6;
  --light-color-warning-contrast: white;
  --light-color-danger: #D81159;
  --light-color-danger-light: #ffe6e6;
  --light-color-danger-contrast: white;
  --light-color-misc: #D7D0C8;
  --light-color-disabled: #d9d9d9;
  --font-size-normal: 1rem;
  --font-size-extra-small: 0.6rem;
  --font-size-small-line-height: 1rem;
  --font-size-small: 0.8rem;
  --font-size-large: 1.2rem;
  --font-size-extra-large: 1.4rem;
}

:root {
  --color-success: #00cc00;
  --color-danger: #ff3300;
  --color-warning: #ff9900;
  --color-info: #0099cc;
  --color-disabled: #d9d9d9;
  --color-muted: #d9d9d9;
  --color-blue: #0099cc;
  --light-background-color: #f2f2f2;
  --light-button-primary-background-color: var(--brand-color-secondary);
  --light-button-primary-text-color: white;
  --light-button-success-text-color: white;
  --light-button-success-background-color: var(--color-success);
  --light-button-info-text-color: white;
  --light-button-info-background-color: var(--color-info);
  --light-warning-danger-text-color: white;
  --light-warning-danger-background-color: var(--color-warning);
  --light-button-danger-text-color: white;
  --light-button-danger-background-color: var(--color-danger);
  --light-button-disabled-text-color: white;
  --light-button-disabled-background-color: var(--color-disabled);
  --light-button-shadow-color: rgba(0,0, 0, 0.2);
  --light-link-text-color: navy;
}

:root {
  --light-alert-success-color: var(--light-color-success);
  --light-alert-success-color-light: var(--light-color-success-light);
  --light-alert-success-text-color: var(--light-color-success);
  --light-alert-success-banner-color: var(--light-color-success);
  --light-alert-success-banner-text-color: var(--light-color-success-contrast);
  --light-alert-info-color: var(--light-color-info);
  --light-alert-info-color-light: var(--light-color-info-light);
  --light-alert-info-text-color: var(--light-color-info);
  --light-alert-info-banner-color: var(--light-color-info);
  --light-alert-info-banner-text-color: var(--light-color-info-contrast);
  --light-alert-warning-color: var(--light-color-warning);
  --light-alert-warning-color-light: var(--light-color-warning-light);
  --light-alert-warning-text-color: var(--light-color-warning);
  --light-alert-warning-banner-color: var(--light-color-warning);
  --light-alert-warning-banner-text-color: var(--light-color-warning-contrast);
  --light-alert-danger-color: var(--light-color-danger);
  --light-alert-danger-color-light: var(--light-color-danger-light);
  --light-alert-danger-text-color: var(--light-color-danger);
  --light-alert-danger-banner-color: var(--light-color-danger);
  --light-alert-danger-banner-text-color: var(--light-color-danger-contrast);
}

.y-auth-subtitle {
  margin-top: 0.2rem;
}

.p-link {
  color: blue;
}

.y-button-row {
  padding-left: 8px;
}
.y-button-row .p-component {
  margin-right: 1rem;
}

.y-content-input-label-float-secondary {
  position: relative;
  top: 10px;
  font-size: 0.9rem;
}

/*====
 */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.hover-trigger:hover {
  color: red;
}

.hover-trigger:hover > span {
  position: relative;
  top: -3px;
  right: 0px;
  display: block;
  padding: 6px;
}

.dropdown-content2 {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content2:hover {
  position: relative;
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a:hover {
  background-color: #f1f1f1;
}

/*# sourceMappingURL=addon.css.map */
