@import './_input_code.scss';
@import './_dropdown.scss';
@import './_tag_label.scss';
@import './_tag_chip.scss';
@import './_button.scss';
@import './_alert.scss';

:root {
    --light-color-info: #3777FF;
    --light-color-info-light: #e6e6ff;
    --light-color-info-contrast: white;

    --light-color-success : #0C7C59;
    --light-color-success-light: #ccffcc;
    --light-color-success-contrast: white;

    --light-color-warning: #FFBF46;
    --light-color-warning-light: #fff2e6;
    --light-color-warning-contrast: white;

    --light-color-danger: #D81159;
    --light-color-danger-light: #ffe6e6;
    --light-color-danger-contrast: white;

    --light-color-misc: #D7D0C8;

    --light-color-disabled : #d9d9d9;

    --font-size-normal : 1rem;
    --font-size-extra-small: 0.6rem;
    --font-size-small-line-height: 1rem;
    --font-size-small : 0.8rem;
    --font-size-large : 1.2rem;
    --font-size-extra-large : 1.4rem;
}

:root {
    --color-success: #00cc00;
    --color-danger: #ff3300;
    --color-warning: #ff9900;
    --color-info: #0099cc;
    --color-disabled: #d9d9d9;
    --color-muted: #d9d9d9;
    --color-blue: #0099cc;

    --light-background-color: #f2f2f2;
    --light-button-primary-background-color: var(--brand-color-secondary);
    --light-button-primary-text-color: white;
    --light-button-success-text-color: white;
    --light-button-success-background-color: var(--color-success);
    --light-button-info-text-color: white;
    --light-button-info-background-color: var(--color-info);
    --light-warning-danger-text-color: white;
    --light-warning-danger-background-color: var(--color-warning);
    --light-button-danger-text-color: white;
    --light-button-danger-background-color: var(--color-danger);
    --light-button-disabled-text-color: white;
    --light-button-disabled-background-color: var(--color-disabled);
    --light-button-shadow-color: rgba(0,0, 0, 0.2);
    --light-link-text-color: navy;
}

:root {
    --light-alert-success-color: var(--light-color-success);
    --light-alert-success-color-light: var(--light-color-success-light);
    --light-alert-success-text-color: var(--light-color-success);
    --light-alert-success-banner-color: var(--light-color-success);
    --light-alert-success-banner-text-color: var(--light-color-success-contrast);
    --light-alert-info-color: var(--light-color-info);
    --light-alert-info-color-light: var(--light-color-info-light);
    --light-alert-info-text-color: var(--light-color-info);
    --light-alert-info-banner-color: var(--light-color-info);
    --light-alert-info-banner-text-color: var(--light-color-info-contrast);
    --light-alert-warning-color: var(--light-color-warning);
    --light-alert-warning-color-light: var(--light-color-warning-light);
    --light-alert-warning-text-color: var(--light-color-warning);
    --light-alert-warning-banner-color: var(--light-color-warning);
    --light-alert-warning-banner-text-color: var(--light-color-warning-contrast);
    --light-alert-danger-color: var(--light-color-danger);
    --light-alert-danger-color-light: var(--light-color-danger-light);
    --light-alert-danger-text-color: var(--light-color-danger);
    --light-alert-danger-banner-color: var(--light-color-danger);
    --light-alert-danger-banner-text-color: var(--light-color-danger-contrast);
}

.y-auth-title {

}

.y-auth-subtitle {
    margin-top:0.2rem;
}

.p-link {
    color:blue;
}

.y-button-row {
    padding-left:8px;
    .p-component {
        margin-right:1rem;
    }
}

.y-content-input-label-float-secondary {
    position:relative;
    top:10px;
    font-size:0.9rem;
}


/*====
 */

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {background-color: #f1f1f1}
    }
}

.hover-trigger:hover{
    color:red;
}

.hover-trigger:hover > span{
    position: relative;
    top:-3px;
    right:0px;
    display:block;
    padding:6px;
}

.dropdown-content2 {
    display:none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

    &:hover {
        position: relative;
    }

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {background-color: #f1f1f1}
    }
}

