@import './_input_code.scss';
@import './_dropdown.scss';

.y-auth-title {

}

.y-auth-subtitle {
    margin-top:0.2rem;
}

.p-link {
    color:blue;
}

.y-button-row {
    padding-left:8px;
    .p-component {
        margin-right:1rem;
    }
}

